<!DOCTYPE html>
<html lang="en" id="demo">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" type="image/png" href="favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"
    />
  </head>

  <body>
    <!--header-->
    <header class="header" id="top">
      <!--top navigation-->
      <nav class="navigation">
        <div class="row navigation__row">
          <div class="navigation__logo-container">
            <span class="navigation__logo-container__text"
              >Webpack Template
            </span>
          </div>
          <ul class="navigation__main-nav navigation__js--main-nav">
            <li>
              <a href="#" class="active">Home</a>
            </li>
            <li>
              <a href="grid.html">Grid</a>
            </li>
          </ul>
          <a class="navigation__mobile-nav-icon navigation__js--nav-icon">
            <i class="ion-navicon-round"></i>
          </a>
        </div>
      </nav>
      <!--/ end top navigation-->
    </header>
    <!--/ end header-->
    <div id="root">
      <h1 id="heading" class="text-center mt-5 mb-0 pb-0"></h1>
    </div>
  </body>
</html>
