$font-size: 1rem;
$font-family: 'Inter', sans-serif;
$background-color: #121212;
$font-color: #dae0e0;
$page-width: 650px;

#demo {
  font-size: $font-size !important;
  font-family: $font-family !important;
  color: $font-color !important;
  max-width: $page-width !important;
  line-height: 1.4 !important;

  h1 {
    font-size: 1.5rem !important;
    line-height: 1.4 !important;
    color: $font-color !important;
  }

  body {
    margin: 0;
    width: 100vw;
    background: $background-color !important;

    & #root {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      align-self: center;
      height: 100vh;

      & h1.heading {
        margin: auto;
        text-align: center;
        max-width: 90vw;
      }
    }
  }
}
