$font-family: 'Inter', sans-serif;
$background-color: $color-primary-2;
$font-color: $color-grey-light-2;
$page-width: 650px;

#demo {
  font-family: $font-family !important;
  color: $font-color !important;
  max-width: $page-width !important;
  line-height: 1.4 !important;

  h1 {
    font-size: 150% !important;
    line-height: 1.4 !important;
    color: $font-color !important;
  }

  body {
    margin: 0;
    width: 100vw;
    background: $background-color !important;
    overflow: hidden;

    & #root {
      display: flex;
      align-items: center;
      // justify-content: space-evenly;
      flex-direction: column;
      align-self: center;
      height: 40vh;

      & h1.heading {
        margin: auto;
        text-align: center;
        max-width: 90vw;
      }
    }
  }
}
