[class^='col-'] {
  background-color: pink;
}

.row.demo-row {
  margin-right: -10px;
  margin-left: -10px;
}
.row.demo-row > [class^='col-'],
.row.demo-row > [class*=' col-'] {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid $color-grey-dark-2;
}

.row.demo-row > [class^='col-']:not(:last-of-type),
.row.demo-row > [class*=' col-']:not(:last-of-type) {
  @media only screen and (min-width: 36em) {
    border-right: none;
  } //576px

  @media only screen and (max-width: 36em) {
    border-bottom: none;
  } //576px
}

.row.demo-row:not(:last-of-type) > [class^='col-'],
.row.demo-row:not(:last-of-type) > [class*=' col-'] {
  border-bottom: none;
}
