/* Reset */
* *::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  @include respond-font-size-all(50%, 50%, 56.25%, 75%);
}

body {
  padding: 0rem;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  box-sizing: border-box;
  @include respond-padding(tabland, 0, true);
  @include respond-margin(tabland, 0, true);
}

::selection {
  background-color: $color-grey-light-1;
  color: $color-white;
}
