/*
 tables
*/
table {
  margin-bottom: 2.4em;
  width: 100%;
}
th {
  background-color: #eaeaea;
}
th,
td {
  padding: 0.2em;
}
td {
  text-align: center;
  border-bottom: 0.1em solid #eaeaea;
}
td p {
  font-size: 1em;
}
