/**
 * ##################################################
 * ##################################################
 *  
 * TYPE
 *  
 */
/**
 * ##################################################
 * ##################################################
 *
 * RESET
 * override some normalize stuff
 *
 */
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
figure {
  margin: 0;
}
/*
 odd extra space issue above h6
*/
h6 {
  margin-top: 0;
}
/* 
 * type references:
 * original method:  http://clagnut.com/blog/348/
 * updated approach: http://snook.ca/archives/html_and_css/font-size-with-rem
 * more thoughts:    http://css-tricks.com/css-font-size/
 *                   http://css-tricks.com/why-ems/
 *
 */

dt,
legend,
caption {
  font-size: 1.4em;
  font-weight: normal;
  line-height: 1.7143;
}

th {
  font-weight: normal;
}

p,
li,
dd,
td,
th,
label,
input,
select,
textarea,
button,
address,
blockquote {
  font-size: 1.3em;
  line-height: 1.8462;
}
p,
address,
blockquote {
  margin-bottom: 1.8462em;
}

strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
address {
  font-style: normal;
}

/*
 nested sizes
*/
blockquote p {
  font-size: 1em;
}

/*
 other
*/
blockquote {
  span.author {
    padding-right: 1.4em;
    display: block;
    text-align: right;
  }
}
abbr[title] {
  border-bottom: 0.1em dotted #888;
}
abbr[title]:hover {
  cursor: help;
}
